/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border: none;
}

.width-helper {

    width: 50%;
}

/* Header styles */
.header {
    padding-top: 16px;
    height: 10%;
}

.header>.nav {
    display: flex;
    justify-content: space-between
}

.header>.nav>h3 {
    width: 85%;
    color: #495057;
}

a {
    color: #495057;
}

.header>.nav>div {
    width: 15%;
    display: flex;
    justify-content: space-between
}

/* Main styles */

.main {
    box-shadow: 0px 14px 21px 5px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 14px 21px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 14px 21px 5px rgba(0, 0, 0, 0.22);
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: red;
}

/* Main - Top section styles */
.main>.top-section {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #4f89dd;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main>.top-section>div>div {
    padding: 4px;
}

.main>.top-section>div>div>h2 {
    color: #fff;
}

.main>.top-section>div>div>h5 {
    color: #fff;
    font-weight: 300;
}


img {
    width: 150px;
    position: absolute;
    top: 32%;
    left: 5%;
    border: 5px solid rgb(255, 255, 255);
}

.main>.top-section>div>div>.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.main>.top-section>div>div>.buttons>.white-button {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    margin-right: 4px;
    border-radius: 20px;
}

.main>.top-section>div>div>.buttons>.green-button {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3abb98;
    padding: 12px;
    color: #fff;
    border-radius: 20px;

}

/* Main - Mid section styles */
.main>.mid-section {
    padding: 32px;
    height: 25%;
    background-color: #fff;

}

.main>.mid-section>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main - Mid section - Mid left styles */

.main>.mid-section>div>.mid-left {
    padding-right: 32px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.main>.mid-section>div>.mid-left>div>h2,
p {
    padding-bottom: 16px;
    color: #495057;

}

/* Main - Mid section - Mid center styles */

.main>.mid-section>div>.mid-center {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.main>.mid-section>div>.mid-center>div {

    padding: 4px;
}

.main>.mid-section>div>.mid-center>div {
    color: #495057;
    font-weight: 700;
}

/* Main - Mid section - Mid right styles */

.main>.mid-section>div>.mid-right {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main>.mid-section>div>.mid-right>div {
    padding: 4px;
}

.main>.mid-section>div>.mid-right>div {
    color: #495057;
}


/* Main - Bottom section styles */

.main>.bottom-section {
    height: 45%;
    background-color: #f9f7f7;
}

.main>.bottom-section>div {
    padding: 32px;
    width: 100%;
    height: 100%;
}

.main>.bottom-section>div>div>h2 {
    color: #495057;
}

.main>.bottom-section>div>div>div {
    margin-top: 16px;
    display: flex;
}

.main>.bottom-section>div>div>div>.bottom-left {
    width: 50%;
    height: 100%;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.main>.bottom-section>div>div>div>.bottom-left>.pb-item>.progress-bar-gray {
    background-color: rgb(205, 205, 205);
    height: 10px;
}

.main>.bottom-section>div>div>div>.bottom-left>.pb-item>h4 {
    color: #747e88;
}

.main>.bottom-section>div>div>div>.bottom-right>.pb-item>h4 {
    color: #747e88;
}

.main>.bottom-section>div>div>div>.bottom-left>.pb-item>h4 {
    margin-bottom: 4px;
}


.main>.bottom-section>div>div>div>.bottom-left>.pb-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.main>.bottom-section>div>div>div>.bottom-right>.pb-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.main>.bottom-section>div>div>div>.bottom-right>.pb-item>h4 {
    margin-bottom: 4px;
}

.main>.bottom-section>div>div>div>.bottom-right>.pb-item>.progress-bar-gray {
    background-color: rgb(205, 205, 205);
    height: 10px;
}


#sixty-five-left {
    width: 65%;
    background-color: #4f89dd;
    height: 10px;
}

#eighty-five-left {
    width: 85%;
    background-color: #4f89dd;
    height: 10px;
}

#seventy-five-left {
    width: 75%;
    background-color: #4f89dd;
    height: 10px;
}

#sixty-five-right {
    width: 65%;
    background-color: #3abb98;
    height: 10px;
}

#eighty-five-right {
    width: 85%;
    background-color: #3abb98;
    height: 10px;
}

#seventy-five-right {
    width: 75%;
    background-color: #3abb98;
    height: 10px;
}

.main>.bottom-section>div>div>div>.bottom-right {
    width: 50%;
    height: 100%;
}